<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <!-- Lien vers la feuille de style Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
            background-color: #f8f9fa; /* Un gris clair agréable */
        }
        .content {
            flex: 1;
        }
        .navbar {
            background-color: #007bff; /* Bleu Bootstrap */
        }
        .navbar-brand, .nav-link {
            color: white !important; /* Texte blanc pour le contraste */
        }
        .jumbotron {
            background-color: #e9ecef; /* Gris très clair pour un effet doux */
            color: #343a40; /* Gris foncé pour le texte */
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        footer {
            background-color: #343a40;
            color: white;
        }
        .custom-img-size {
            max-height: 500px;
            max-width: 500px;
            object-fit: cover;
            width: 100%;
        }
        .custom-img-size-card {
            max-height: 200px;
            max-width: 200px;
            object-fit: cover;
            width: 100%;
        }
        .custom-card-bg {
            background-color: #e9ecef; /* Couleur de fond des cartes */
        }
        .card-body {
            position: relative;
        }
        .card-button {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">MonSite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
            </li>
        </ul>
    </div>
    <a class="nav-link" href="{{ path('app_cart_user') }}">
        <i class="fas fa-shopping-cart"></i>
    </a>
</nav>


<!-- Ajoutez cette ligne pour inclure les icônes Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <div class="container content mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Bienvenue sur MonSite de E-commerce !</h1>
            <p class="lead">Explorez une vaste sélection de produits et profitez de nos offres exclusives.</p>
            <img src="https://cdn.pixabay.com/photo/2021/11/22/20/20/online-6817350_1280.jpg" class="img-fluid my-4 custom-img-size" alt="Image de E-commerce">
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <!-- Première ligne -->
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm custom-card-bg">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="https://media.ldlc.com/r374/ld/products/00/06/06/44/LD0006064496.jpg" class="img-fluid mb-3 custom-img-size-card" alt="Produit">
                            </div>
                            <h2 class="h4 mb-3">{{ product.name }}</h2>
                            <p class="text-muted">{{ product.htPrice }}€</p>
                            <p class="text-muted">TVA : {{ product.vatRate }}%</p>
                            <p class="text-muted">stock : {{ product.stock }}</p>
                            <p>{{ product.description }}</p><br/>
                            <div class="mt-3">
                                    <form action="{{ path('app_cart_add', {'id': product.id}) }}" method="post">
                                        <button type="submit" class="btn btn-primary w-100" {% if product.stock <= 0 %}disabled{% endif %}>
                                            {% if product.stock > 0 %}
                                                Ajouter au panier
                                            {% else %}
                                                Rupture de stock
                                            {% endif %}
                                        </button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
                
        </div>
    </div>

    <footer class="bg-dark text-center text-lg-start py-3">
        <div class="container">
            <span class="text-muted">© 2025 MonSite, Inc. Tous droits réservés.</span>
        </div>
    </footer>

    <!-- Scripts Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
